<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haibei.dao.sys.RoleResMapper" >
  <resultMap id="BaseResultMap" type="com.haibei.pojo.sys.RoleRes" >
    <id column="WID" property="wid" jdbcType="DECIMAL" />
    <result column="APP_ID" property="appId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="RES_ID" property="resId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    WID, APP_ID, ROLE_ID, RES_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haibei.pojo.sys.RoleResExample" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AMS_ROLE_RES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_AMS_ROLE_RES
    where WID = #{wid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_AMS_ROLE_RES
    where WID = #{wid}
  </delete>
  <delete id="deleteByExample" parameterType="com.haibei.pojo.sys.RoleResExample" >
    delete from T_AMS_ROLE_RES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haibei.pojo.sys.RoleRes" >
    insert into T_AMS_ROLE_RES (WID, APP_ID, ROLE_ID, RES_ID)
    values (#{wid}, #{appId}, #{roleId}, #{resId})
  </insert>
  <insert id="insertSelective" parameterType="com.haibei.pojo.sys.RoleRes" >
    insert into T_AMS_ROLE_RES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="resId != null" >
        RES_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid},
      </if>
      <if test="appId != null" >
        #{appId},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="resId != null" >
        #{resId},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haibei.pojo.sys.RoleResExample" resultType="java.lang.Integer" >
    select count(*) from T_AMS_ROLE_RES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AMS_ROLE_RES
    <set >
      <if test="record.wid != null" >
        WID = #{record.wid},
      </if>
      <if test="record.appId != null" >
        APP_ID = #{record.appId},
      </if>
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId},
      </if>
      <if test="record.resId != null" >
        RES_ID = #{record.resId},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AMS_ROLE_RES
    set WID = #{record.wid},
      APP_ID = #{record.appId},
      ROLE_ID = #{record.roleId},
      RES_ID = #{record.resId}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haibei.pojo.sys.RoleRes" >
    update T_AMS_ROLE_RES
    <set >
      <if test="appId != null" >
        APP_ID = #{appId},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId},
      </if>
      <if test="resId != null" >
        RES_ID = #{resId},
      </if>
    </set>
    where WID = #{wid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haibei.pojo.sys.RoleRes" >
    update T_AMS_ROLE_RES
    set APP_ID = #{appId},
      ROLE_ID = #{roleId},
      RES_ID = #{resId}
    where WID = #{wid}
  </update>
</mapper>