<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haibei.dao.application.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.haibei.pojo.application.Business" >
    <id column="WID" property="wid" jdbcType="DECIMAL" />
    <result column="APP_WID" property="appWid" jdbcType="DECIMAL" />
    <result column="BUSI_PACKAGE" property="busiPackage" jdbcType="VARCHAR" />
    <result column="BUSI_CLASS" property="busiClass" jdbcType="VARCHAR" />
    <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR" />
    <result column="BUSI_DES" property="busiDes" jdbcType="VARCHAR" />
    <result column="BUSI_URL" property="busiUrl" jdbcType="VARCHAR" />
    <result column="IS_AUTH" property="isAuth" jdbcType="VARCHAR" />
    <result column="IS_AVAILABLE" property="isAvailable" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIED_BY" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="MODIFICATION_TIME" property="modificationTime" jdbcType="TIMESTAMP" />
    <result column="DELETE_STATUS" property="deleteStatus" jdbcType="VARCHAR" />
    <result column="TABLE_VER" property="tableVer" jdbcType="DECIMAL" />
    <collection column="WID" property="interfaceList" jdbcType="ARRAY" select="com.haibei.dao.application.InterfaceMapper.selectByBusiId"/>
  
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    WID, APP_WID, BUSI_PACKAGE, BUSI_CLASS, CLASS_TYPE, BUSI_DES, BUSI_URL, IS_AUTH, 
    IS_AVAILABLE, CREATED_BY, CREATION_TIME, MODIFIED_BY, MODIFICATION_TIME, DELETE_STATUS, 
    TABLE_VER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haibei.pojo.application.BusinessExample" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AMS_BUSINESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_AMS_BUSINESS
    where WID = #{wid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_AMS_BUSINESS
    where WID = #{wid}
  </delete>
  <delete id="deleteByExample" parameterType="com.haibei.pojo.application.BusinessExample" >
    delete from T_AMS_BUSINESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haibei.pojo.application.Business" >
    insert into T_AMS_BUSINESS (WID, APP_WID, BUSI_PACKAGE, BUSI_CLASS, CLASS_TYPE, BUSI_DES, 
      BUSI_URL, IS_AUTH, IS_AVAILABLE, CREATED_BY, CREATION_TIME, MODIFIED_BY, 
      MODIFICATION_TIME, DELETE_STATUS, TABLE_VER)
    values (#{wid}, #{appWid}, #{busiPackage}, #{busiClass}, #{classType}, #{busiDes}, 
      #{busiUrl}, #{isAuth}, #{isAvailable}, #{createdBy}, #{creationTime}, #{modifiedBy}, 
      #{modificationTime}, #{deleteStatus}, #{tableVer})
  </insert>
  <insert id="insertSelective" parameterType="com.haibei.pojo.application.Business" >
    insert into T_AMS_BUSINESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="appWid != null" >
        APP_WID,
      </if>
      <if test="busiPackage != null" >
        BUSI_PACKAGE,
      </if>
      <if test="busiClass != null" >
        BUSI_CLASS,
      </if>
      <if test="classType != null" >
        CLASS_TYPE,
      </if>
      <if test="busiDes != null" >
        BUSI_DES,
      </if>
      <if test="busiUrl != null" >
        BUSI_URL,
      </if>
      <if test="isAuth != null" >
        IS_AUTH,
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="modifiedBy != null" >
        MODIFIED_BY,
      </if>
      <if test="modificationTime != null" >
        MODIFICATION_TIME,
      </if>
      <if test="deleteStatus != null" >
        DELETE_STATUS,
      </if>
      <if test="tableVer != null" >
        TABLE_VER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid},
      </if>
      <if test="appWid != null" >
        #{appWid},
      </if>
      <if test="busiPackage != null" >
        #{busiPackage},
      </if>
      <if test="busiClass != null" >
        #{busiClass},
      </if>
      <if test="classType != null" >
        #{classType},
      </if>
      <if test="busiDes != null" >
        #{busiDes},
      </if>
      <if test="busiUrl != null" >
        #{busiUrl},
      </if>
      <if test="isAuth != null" >
        #{isAuth},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="creationTime != null" >
        #{creationTime},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy},
      </if>
      <if test="modificationTime != null" >
        #{modificationTime},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus},
      </if>
      <if test="tableVer != null" >
        #{tableVer},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haibei.pojo.application.BusinessExample" resultType="java.lang.Integer" >
    select count(*) from T_AMS_BUSINESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AMS_BUSINESS
    <set >
      <if test="record.wid != null" >
        WID = #{record.wid},
      </if>
      <if test="record.appWid != null" >
        APP_WID = #{record.appWid},
      </if>
      <if test="record.busiPackage != null" >
        BUSI_PACKAGE = #{record.busiPackage},
      </if>
      <if test="record.busiClass != null" >
        BUSI_CLASS = #{record.busiClass},
      </if>
      <if test="record.classType != null" >
        CLASS_TYPE = #{record.classType},
      </if>
      <if test="record.busiDes != null" >
        BUSI_DES = #{record.busiDes},
      </if>
      <if test="record.busiUrl != null" >
        BUSI_URL = #{record.busiUrl},
      </if>
      <if test="record.isAuth != null" >
        IS_AUTH = #{record.isAuth},
      </if>
      <if test="record.isAvailable != null" >
        IS_AVAILABLE = #{record.isAvailable},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.creationTime != null" >
        CREATION_TIME = #{record.creationTime},
      </if>
      <if test="record.modifiedBy != null" >
        MODIFIED_BY = #{record.modifiedBy},
      </if>
      <if test="record.modificationTime != null" >
        MODIFICATION_TIME = #{record.modificationTime},
      </if>
      <if test="record.deleteStatus != null" >
        DELETE_STATUS = #{record.deleteStatus},
      </if>
      <if test="record.tableVer != null" >
        TABLE_VER = #{record.tableVer},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AMS_BUSINESS
    set WID = #{record.wid},
      APP_WID = #{record.appWid},
      BUSI_PACKAGE = #{record.busiPackage},
      BUSI_CLASS = #{record.busiClass},
      CLASS_TYPE = #{record.classType},
      BUSI_DES = #{record.busiDes},
      BUSI_URL = #{record.busiUrl},
      IS_AUTH = #{record.isAuth},
      IS_AVAILABLE = #{record.isAvailable},
      CREATED_BY = #{record.createdBy},
      CREATION_TIME = #{record.creationTime},
      MODIFIED_BY = #{record.modifiedBy},
      MODIFICATION_TIME = #{record.modificationTime},
      DELETE_STATUS = #{record.deleteStatus},
      TABLE_VER = #{record.tableVer}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haibei.pojo.application.Business" >
    update T_AMS_BUSINESS
    <set >
      <if test="appWid != null" >
        APP_WID = #{appWid},
      </if>
      <if test="busiPackage != null" >
        BUSI_PACKAGE = #{busiPackage},
      </if>
      <if test="busiClass != null" >
        BUSI_CLASS = #{busiClass},
      </if>
      <if test="classType != null" >
        CLASS_TYPE = #{classType},
      </if>
      <if test="busiDes != null" >
        BUSI_DES = #{busiDes},
      </if>
      <if test="busiUrl != null" >
        BUSI_URL = #{busiUrl},
      </if>
      <if test="isAuth != null" >
        IS_AUTH = #{isAuth},
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE = #{isAvailable},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime},
      </if>
      <if test="modifiedBy != null" >
        MODIFIED_BY = #{modifiedBy},
      </if>
      <if test="modificationTime != null" >
        MODIFICATION_TIME = #{modificationTime},
      </if>
      <if test="deleteStatus != null" >
        DELETE_STATUS = #{deleteStatus},
      </if>
      <if test="tableVer != null" >
        TABLE_VER = #{tableVer},
      </if>
    </set>
    where WID = #{wid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haibei.pojo.application.Business" >
    update T_AMS_BUSINESS
    set APP_WID = #{appWid},
      BUSI_PACKAGE = #{busiPackage},
      BUSI_CLASS = #{busiClass},
      CLASS_TYPE = #{classType},
      BUSI_DES = #{busiDes},
      BUSI_URL = #{busiUrl},
      IS_AUTH = #{isAuth},
      IS_AVAILABLE = #{isAvailable},
      CREATED_BY = #{createdBy},
      CREATION_TIME = #{creationTime},
      MODIFIED_BY = #{modifiedBy},
      MODIFICATION_TIME = #{modificationTime},
      DELETE_STATUS = #{deleteStatus},
      TABLE_VER = #{tableVer}
    where WID = #{wid}
  </update>
</mapper>